@model eLibrary.UI.Models.Catalog.AssetIndexModel

<div id="assets">
    <h3>Library Catalog</h3>
    <div id="assetsTable">
        <table  class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" id="catalogIndexTable">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Image</th>
                    <th class="mdl-data-table__cell--non-numeric">Title</th>
                    <th class="mdl-data-table__cell--non-numeric">Author / Director</th>
                    <th>Dewey Call Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var asset in Model.Assets)
                {
                <tr class="assetRow">
                    <td class="mdl-data-table__cell--non-numeric">
                        <div>
                            <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@asset.Id">
                                <img style="width:20%;" src="@asset.ImageUrl" class="imageCell" />
                            </a>
                        </div>
                    </td>
                    <td  class="mdl-data-table__cell--non-numeric">@asset.Title</td>
                    <td  class="mdl-data-table__cell--non-numeric">@asset.AuthorOrDirector</td>
                    <td class="">@asset.DeweyCallNumber</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>